
.heart{
  top:0px;
  position: absolute;
  width:50px;
}
#heart1{
  right:0px;
}
#heart2{
  right:55px;
}#heart3{
  right:110px;
}
.thingy{
  position: absolute;
  width:100px;
  height:60px;
}

.levelOne{

  display:none;
}
.headtext{
    left:40%;
    position: relative;
    width:500px;
}
#startstop{
  position:absolute;
  top:0px;
  font-size:20px;
}
#score{
  left:100px;
  top: 0px;
  position: absolute;
  font-size:25px;
  margin-top:5px;
}